.inline-block {
    display: inline;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
.nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 100%;
    margin-left:auto;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.heroImg {
    height: 600px;
    padding: 25%;

}
.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
    padding: 1%;
}
li {
    padding: 4%;
    
}

.flex-container {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
    
    
}

.flex-container > div {
    
    flex-basis: 200px;  
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: rgb(152, 187, 255);

}

   

img {
    max-width: 100%;
    height: auto;
    background-color: white;
  }

  h1 {
    color: rgb(28, 28, 80);
    text-align: center;
    font-size:40px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
  }

  p {
    color: rgb(28, 28, 80);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }

  h3 {
    color: rgb(28, 28, 80);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }

  body {
    background-color: rgb(255, 255, 255);
  }

  .words {
    grid-area: words;
    
  }

  .i {
    grid-area: i;
    
  }

  
  .workGrid {
    display: grid;
    grid-template-areas: 'words i';
    column-gap: 15px;
    background-color: rgb(152, 187, 255);
    padding: 15px;
    margin-left: 122px;
    margin-right: 122px;
    margin-top: 40px;
    justify-content: stretch;
    align-items: space-evenly;
    text-align: center;
    
    
  }


  .words {
    margin: px;
    padding:40px;
    background-color: white;
  }

.i {
    background-color: rgb(224, 232, 255); 
    justify-content: center;
    padding:10px;

}
    
  
  

  #study1 {
    width: 500px;
    
   
  }
  #study2 {
    width: 500px;
  }
  #study3 {
    width: 150px;
    align-items: center;
    
  }

  h4 {
    color: rgb(28, 28, 80);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .button {
    width: 200px;
    height: 50px;
    background-color: rgb(91, 107, 184);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: 5px solid rgb(194, 208, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  #vap {
    display:flex;
    background-color:rgb(224, 232, 255);
    border: 8px solid rgb(152, 187, 255);
    font-size: 22px;
    margin-left: 122px;
    margin-right: 122px;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 18px;
    justify-content: center;
    border-radius: 15px;
    
    

  }




   #box{
    background-color: blue;
    width: 200px;
    height: 20px;
    position: absolute;
    opacity: 0.5;

   }

   #button1{

    height:100px;
    width: 200px;
   }